 /* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: solid 1px black;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

img {
    
}

body {
    font-family: 'Open Sans',sans-serif;
    font-weight: 600;
}

.col  {
    float: left;
}
/* ALIGN */
.aln-sx {
    text-align: left;
}

.aln-dx {
    text-align: right;
}

.aln-cent {
    text-align: center;
}

/* COLORS */
.grey-text {

}

/* WITDH */
.witdh-30 {
    width: 30%;
}

.witdh-70 {
    width: 70%;
}

.witdh-80 {
    width: 80%;
}

/* HEIGHT */
.height-plan{
    height: 700px;
}

.container {
    margin: auto;
}






/* MENU NAV */

header{
   
}

nav {
    height: 100px;
    line-height: 100px;
    font-size: 18px;
    color: black;
}

.logo {
    width: 10%;
}
.logo img {
    vertical-align: middle;
    padding: 20px;
}
img  {
    width: 100%;
}

.sx {
    margin-left: 25px;
    width: 30%;
}

.dx {
    float: right;
    text-align: right;
    margin-right: 20px;
    width: 40%;
}

li {
    list-style-type: none;  
    display: inline-block;
    padding: 0 30px;
}

.menu a {
    text-decoration: none;
}


/* BANNER */
.banner {
    height: 700px;
    background-color: #b4d0e7;
}

.banner-content

.banner-title h1{
    font-size: 150px;
    text-align: left;
}

.text-banner {
    width: 30%;
}

.img-banner {
    width: 70%;
}

/* SECTION PLANS */
.plans {
    height: 1500px;
    background-color: lightpink;
}

/* HEADER PLANS */

.billing {

}

.billed-monthly {
    display: inline-block;
}

.billed-annually {
    display: inline-block;
}

.circle {

}

.bill-text {

}

/* PLANS COLUMN */

.single-plan {
    margin-right: 5%;
    
}

.team-plan {

}

.advanced-team-plan {

}

.name-plan {

}

.plan-features {

}

.title-plan {

}

.price-plan {

}

.max-user {

}









.enterprise {
    height: 200px;
    background-color: lightsalmon;
}

.meet-partners {
    height: 400px;
    background-color: lightsteelblue;
}

.more-operations {
    height: 850px;
    background-color: lightyellow;
}

.number-teams {
    height: 175px;
}

.logo-users {
    height: 375px;
    background-color: lightgreen;
}

.bring-dropbox {
    height: 225px;
    background-color: lightskyblue;
}

.faq {
    height: 475px;
}
footer {
    height: 350px;
    background-color: black;
}